.Wrapper{
    /* margin: 20px; */
    /* padding: 10px; */
    /* border-radius: 20px; */
    /* height: 80%; */
    /* padding: auto; */
    
    /* scroll-behavior: auto; */
    /* width: 194.4px; */
    align-self: center;
    /* width: 50%; */
}
#dropdown-search{
  
  /* width: 100px; */
    /* height: 200px; */
    /* margin-right: 0; */
  }

#single-movie{
    /* display: flex; */
    /* display: flex; */
    /* flex-direction: row-reverse; */
    

  }

.input{
  position: relative;
  width: 300px;
  height: 25px;
  }

.input input{
  width: 100%;
  outline: none;
  border:  1px ;
  border-radius: 5px;
}

.input :hover{
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
}

#hide{
    visibility: none;
    display: hidden;
}