.Wrapper{
    /* margin: 20px; */
    /* padding: 10px; */
    /* border-radius: 20px; */
    /* height: 80%; */
    /* padding: auto; */
    
    /* scroll-behavior: auto; */
    /* width: 194.4px; */
    align-self: center;
    /* width: 50%; */
}
#dropdown-search{
  
  /* width: 100px; */
    /* height: 200px; */
    /* margin-right: 0; */
  }

#single-movie{
    /* display: flex; */
    /* display: flex; */
    /* flex-direction: row-reverse; */
    

  }
#hide{
    visibility: none;
    display: hidden;
}

.input{
  position: relative;
  width: 200px;
  height: 30px;
  border-radius: 0 5px 5px 0;
  text-align: center;
  border-radius: 5px;
  background: linear-gradient(#1b1b1b, #111);
  color: rgb(201, 201, 201);
  outline: none;
  border: 1px solid rgba(223, 223, 223, 0.322);
  }

.input input{
  width: 100%;
  outline: none;
  border:  1px ;
 
}

.input:hover{
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
  border:  2px solid rgba(226, 36, 36, 0.664);
  color: rgb(255, 255, 255);
}